/* Universal selector */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body element */
body {
    background-color: #d9dcd6;
}

/* Header element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Heading inside of the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* seo class span */
.seo {
    color: #d9dcd6;
}

/* Header navigation bar  */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Unordered list inside the header for navigation */
header nav ul {
    list-style-type: none;
}

/* List items for the navigation bar */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a link element */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph element */
p {
    font-size: 16px;
}

/* hero class with background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* float-left class */
.float-left {
    float: left;
    margin-right: 25px;
}

/* float-right class*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Main element */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Benefit class */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Heading 3 inside of benefits class */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Image inside of benefits class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* search-engine-optimization, online-reputation-management, social-media-marketing classes */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Images inside of main */
main img {
    max-height: 200px;
}

/* Heading 2 inside of main */
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Heading 2 inside of footer */
footer h2 {
    font-size: 20px;
}
